@import '../../assets/styles/variables';

.logs {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    border: 1px solid $border-color;
    padding: 5px 10px;
    font-size: 13px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 5px;

    > span {
      display: flex;
      flex-direction: column;
    }

    > span.right {
      text-align: right;
    }
  }
}