@import '../../assets/styles/variables';

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 55px;
    border-bottom: 1px solid $border-color;
    box-shadow: 0 0 5px $border-color;

    img {
      width: 33px;
    }

    span {
      text-transform: uppercase;
      font-weight: bold;
      padding-left: 10px;
      font-size: 20px;
    }

    &__right-menu {
      a {
        color: $btn-primary;
        text-decoration: none;

        span {
          text-transform: none;
          font-size: 16px;
        }
      }

      &__btn {
        padding: 0;
        background: no-repeat;
        border: none;
        color: $btn-primary;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
      }
    }
  }

  &_header > a {
    display: flex;
    align-items: center;
    color: $base-color;
    text-decoration: none;
  }

  &_content {
    display: flex;
    flex-grow: 1;

    &_left {
      width: 250px;
      padding: 10px;
      border-right: 1px solid $border-color;
    }

    &_center {
      width: 100%;
      padding: 10px;
    }
  }
}