@import '../../assets/styles/variables';

.leftMenu {
  margin: 0;
  padding: 0;

  &-item {
    border: 1px solid $border-color;
    padding: 5px 10px;
    margin-bottom: -1px;
    cursor: pointer;
  }

  &-item:hover {
    background-color: $btn-hover-color;
  }
}