$border-color: #CCCCCC;
$btn-hover-color: #EEEEEE;
$active-link: #DDDDDD;
$base-color: #000000;
$background-color: #FFFFFF;

// button
$btn-error: rgba(240, 87, 108, 1);
$btn-success: rgba(161, 240, 69, 1);
$btn-primary: #2884F6;

// input
$border-input: #BEBEBE;
$invalid-input: #F01F30;

// task
$edit: #3589FF;
$delete: #FF5544;

// modal
$background-modal: rgba(0,0,0,0.5);