@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.taskList {
  &_item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: 1px solid $border-color;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 13px;
  }

  &_item:hover {
    box-shadow: 0 0 5px $border-color;
  }

  &_btn {
    display: flex;
    align-items: center;

    &_i {
      font-size: 10px;
      border: 2px solid $base-color;
      padding: 2px 5px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      margin-left: 3px;

      &-cancel {
        background-color: $background-color;
      }

      &-edit {
        background-color: $edit;
      }

      &-edit:hover {
        color: $edit;
        background-color: $background-color;
        @include allTransition;
      }

      &-delete {
        background-color: $delete;
      }

      &-delete:hover {
        color: $delete;
        background-color: $background-color;
        @include allTransition;
      }
    }
  }
}